.download {border: #18397B;border-style: dotted;border-width: 1px 0px 1px 0px;margin: 4px;padding: 4px;text-decoration: none;font-size: 14px;}
.download a, .download a:active, .download a:link, .download a:visited {text-decoration: none;font-size: 14px;}
.download a:hover {color:#FF0000;text-decoration: none;font-size: 14px;}

.package {border-style: solid;border-color: #18397B;border-width: 1px;margin: 10px;padding: 10px;}

.inst {border: #18397B;border-style: solid;border-width: 1px;margin: 10px;}
.inst p {margin: 4px;}
.itit {background: #F0F0B0;color: #404080;font-weight: bold;margin: 0px;padding: 5px;}
.izpex {margin: 0px;padding: 5px;}

.lopt {border: #18397B;background-color: #F0F0B0;border-style: solid;border-width: 1px;margin: 10px;}
.lhdg {font-weight: bold;font-size: 14px;}
.ldet {font-size: 10px;}

.btbl {width: 713px;border: #18397B;border-style: solid;border-width: 1px;padding: 10px;margin: 10px;}
.balt {width: 705px;border: #18397B;border-style: solid;border-width: 1px;padding: 10px;margin: 10px;}
.balt p {margin: 4px;}

.brw td {border: #18397B;border-style: solid;border-width: 0px 0px 1px 0px;padding: 5px;margin: 10px;}
.bins {margin: 10px;}
.bhd td {font-size: 12px;color: #444444;background-color: #99CCFF;font-weight: bold;border: #18397B;border-style: solid;border-width: 0px 0px 1px 0px;padding: 5px;margin: 10px;}

.information {border: #18397B;background-color: #99CCFF;border-style: solid;border-width: 1px;margin: 10px;}
.infhd {font-weight: bold;font-size: 14px;}
.infdt {font-size: 12px;}


.pmtable {width: 715px; background-color: #F9F9E0; border: #18397B;border-style: solid;border-width: 1px;padding: 5px;margin: 10px;}

.pmheading {background-color: #F0F0B0;}
.pmheading td {padding: 5px; border: #999999;border-style: solid;border-width: 0px 1px 1px 0px;}


.pmrow {vertical-align: top;}
.pmrow td {padding: 5px; border: #999999;border-style: dashed;border-width: 0px 1px 1px 0px;}

.paramtable {width: 650px;border: #18397B;border-style: solid;border-width: 1px;padding: 10px;margin: 10px;}
.paramtable td {border: #999999;border-style: dashed;border-top-width: 0px;border-right-width: 0px;border-bottom-width: 1px;border-left-width: 0px;padding: 5px;margin: 10px;}

.colortable td {border: #999999;border-style: dashed;border-top-width: 0px;border-right-width: 0px;border-bottom-width: 1px;border-left-width: 0px;padding: 5px;margin: 10px;}

.codeblock {font-size: 12px; font-family: courier,serif;font-weight:normal;}

.indextable {width: 350px; background-color: #F9F9E0; border: #18397B;border-style: solid;border-width: 1px;padding: 5px;margin: 10px;}
.indextableouter td {vertical-align: top;}

.applettag {width: 700px; height:80px;}
.javacode {width: 700px; height:300px;}


